// Start up Commands
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,ssh"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "dms" "run" // Commented by shell-switcher
// spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "sunshine"
// spawn-at-startup "swayidle" "-w" "before-sleep 'swaylock -f'"
// spawn-sh-at-startup "/home/don/.config/niri/Scripts/zed-resize-fix.sh"
// spawn-sh-at-startup "$HOME/.config/niri/Scripts/zed-resize-fix.sh"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
skip-at-startup
}
